[Unit]
Description=Librespot Spotify Daemon
After=network-online.target sound.target

[Service]
ExecStart=/usr/bin/librespot
Restart=always
User=librespot
Group=librespot

[Install]
WantedBy=multi-user.target