name: Build librespot for armv6

on:
  workflow_dispatch: {}
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:bullseye
      options: --user root

    steps:
    - name: Set up and update build environment base
      run: |
        apt-get update
        apt-get install -y \
          git pkg-config \
          build-essential curl

    - name: Install Rust
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH
 
    - name: Checkout this repository
      uses: actions/checkout@v4

    - name: Clone librespot repository
      run: |
        git clone --depth 1 https://github.com/librespot-org/librespot.git /tmp/librespot

    - name: Set up and update build environment for ARM cross-compilation
      run: |
        dpkg --add-architecture armhf
        apt-get update
        apt-get install -y \
          gcc-arm-linux-gnueabihf \
          libasound2-dev:armhf \
          libpulse-dev:armhf \
          libavahi-client-dev:armhf

    - name: Configure PKG_CONFIG for Cross-Compilation
      run: |
        echo "PKG_CONFIG_PATH=/usr/lib/arm-linux-gnueabihf/pkgconfig" >> $GITHUB_ENV
        echo "PKG_CONFIG_SYSROOT_DIR=/" >> $GITHUB_ENV

    - name: Configure Cargo Linker for ARM
      run: |
        mkdir -p ~/.cargo/
        echo "[target.arm-unknown-linux-gnueabihf]" >> ~/.cargo/config.toml
        echo "linker = \"arm-linux-gnueabihf-gcc\"" >> ~/.cargo/config.toml
        cat ~/.cargo/config.toml

    - name: Set up Rust for cross-compilation
      run: |
        rustup target add arm-unknown-linux-gnueabihf --toolchain stable
    
    - name: Log Rust environment info
      run: |
        echo "Rust settings: /home/runner/.rustup/settings.toml"
        cat /home/runner/.rustup/settings.toml
        echo "Rust toolchain:"
        rustup show
        rustup toolchain list

    - name: Build librespot
      run: |
        cd /tmp/librespot
        cargo build --target=arm-unknown-linux-gnueabihf --release --no-default-features --features "rustls-tls-webpki-roots alsa-backend with-avahi"
