name: Build librespot

on:
  workflow_dispatch: {}
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout this repository
      uses: actions/checkout@v4

    - name: Clone librespot repository
      run: |
        git clone --depth 1 https://github.com/librespot-org/librespot.git /tmp/librespot

    - name: Install Rust
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    
    - name: Rust environment info
      run: |
        echo "Rust settings: /home/runner/.rustup/settings.toml"
        cat /home/runner/.rustup/settings.toml
        echo "Rust toolchain:"
        rustup show
        rustup toolchain list
        echo "Environment variables:"
        env | grep RUST

    - name: Set up and update build environment
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config build-essential libasound2-dev libpulse-dev libavahi-client-dev

    - name: Build librespot
      run: |
        cd /tmp/librespot
        cargo build --verbose --no-default-features --features "rustls-tls-webpki-roots alsa-backend with-avahi"

